{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["> 1%", "ie >= 9"]
                },
                "modules": false,
                "loose": true,
                //"debug": true,
                "useBuiltIns": true
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": true
            }
        ]
        // [
        //     "react-css-modules",
        //     {
        //         "option": "value",
        //         "generateScopedName": "[local]-[hash:base64: 10]",
        //         "exclude": "node_modules",
        //         "filetypes": {
        //             ".less": {
        //                 "syntax": "postcss-less"
        //             }
        //         }
        //     }
        // ]
    ]
}
